.example-container {
  margin: auto;
  width: 400px;
  height: 100vh;
  border: 1px solid #555;
}

.example-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  margin-bottom: 12px;
}

mat-sidenav {
  width: 200px;
}

mat-sidenav-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
